html {
    background-color: white;
    overflow: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

hr{
    background-color: black;
    height: 10px;
}
.logo{
    width: 170px;
    height: 120px;
    float: left;
  }
  .imagen{
     display:block;
     margin:auto;
     text-align: center;
      width: 250px;
      height: 150px;

  }

  .titulo{
    text-align: center;
    font: 150% Satisfy;
    color: black;
    font-weight: bold;

  }
.biografia{
    text-align: center;
    width: 500px;
    height: 300px;
    display:block;
    margin:auto;
    border-radius: 100px;
    border:10px solid #666;
}
.header {
    background-color: rgba(106, 126, 238, 0.651);
    padding: 20px;
    text-align: center; 
    font: 150% Satisfy;
    overflow: hidden;
}
.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:40px;
    width:100%;
    background:rgba(106, 126, 238, 0.651);
    text-align: center;
 }

 .header {
    background-color:rgba(106, 126, 238, 0.651);
    padding: 20px;
    text-align: center;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.topnav a:hover {
    background-color:rgba(106, 126, 238, 0.651);
    color: black;
}

.cuerpo{
    padding: 2em;
    text-align: justify;
}